<div class="card" style="margin: auto;width:50%;margin-top: 7em;height: 200px;" >  
    <div class="card-header" style="text-align:center">
        <b>UPDATE CATEGORY</b>   
    </div>  
    <div class="card-body">  

    <div class="form-horizontal">
        <form [formGroup]="updateCategoryForm" style="height: 200px;">
            <div class="row"> 
    <div class="form-group col-sm-6">
       <label>Category Name</label>
    
       <input type="text" formControlName="CategoryName" class="form-control" [class.is-invalid]="CategoryName.invalid && CategoryName.touched">
       <div *ngIf="CategoryName.invalid && CategoryName.touched">
        <small class="text-danger" *ngIf="CategoryName.errors.required">Category Name is required</small>
           </div>

    </div>
    </div>
    <div class="row"> 
    <div class="form-group col-sm-6">
        <div class="col-md-offset-2 col-md-10">
    <input type="submit" value="Update" (click)="UpdateCategory()" class="btn btn-primary" /> &nbsp;&nbsp;&nbsp;
</div>
</div>
</div>


</form>


</div>
</div>
</div>
