<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="container register-form">
    <div class="form">
        <div class="note">
            <p>Login Form</p>
        </div>
     <!--   <form [formGroup]="LoginForm" (ngSubmit)="login(LoginForm.value)">-->
              <div class="form-content" [formGroup]="LoginForm"  (ngSubmit)="login(LoginForm.value)"  >
            <div class="form-group">
                <label>User Name</label>
                <input formControlName="Name" type="text" class="form-control" placeholder="Your Name *" value="" />
                 <div *ngIf="Name.invalid && Name.touched">
                                    <small class="text-danger" *ngIf="Name.errors.required">User Name is required</small>
                                </div> 
            </div>
            <div class="form-group">
                <label>Password</label>
                <input formControlName="password" type="text" class="form-control" placeholder="Your Password *" value="" />
                <div *ngIf="password.invalid && password.touched">
                    <small class="text-danger" *ngIf="password.errors.required">Password is required</small>
                </div>
            </div>

            <div>
                <p style="color:#E92626;font-size:20px;font-weight:normal" Class="success">
                    {{errorMessage}}
                </p>
            </div>

            <button type="submit" class="btnSubmit">Login</button>
        </div>
       <!-- </form>-->
    </div>
</div>
<!-- <app-dashboard></app-dashboard> -->